* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::placeholder {
    color: #000;
}

nav {
    background-color: #181818;
    box-shadow: 0 30px 45px #000000a9;
}

.navbar {
    --bs-navbar-hover-color: #323232;
}

.nav-link {
    color: #fff;
}

.navbar-brand {
    color: #fff;
}

.navbar-nav .nav-link.active {
    color: #fff;
}


.form_verificacao {
    background-image: linear-gradient(45deg, #131086, #b621f3);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    padding: 50px;
    font-size: 20px;
    text-align: center;
    color: #000;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border-radius: 8px;
    /* background-color: #6f42c199; */
    border-radius: 20px;
    background: #fff;
    box-shadow: 29px 29px 75px #00000056,
        -29px -29px 75px #00000056;
}

select,
input {
    font-size: 18px;
    color: black;
    height: 50px;
    width: 80%;
    border: 1px solid #C2C2C2;
    border-radius: 100px;
    background-color: transparent;
    padding-left: 30px;
}

input[type="number"] {
    color: black;
}

input[type="submit"] {
    margin-top: 50px;
    border: none;
    padding-left: 0;
    color: #fff;
    background: linear-gradient(45deg, #131086, #b621f3);
}

/*TABLE*/
.consult {
    background-image: linear-gradient(45deg, #131086, #b621f3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 80%;
    padding: 10px;
    margin: auto;
    min-width: 90%;

}

tbody {
    color: #fff;
    font-size: 20px;
}

tbody th {
    color: #131086;
    background: white;
    padding: 12px 15px;
}

tbody td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #C2C2C2;
    background-color: #ffffff20;
}

tbody tr:nth-child(even) {
    border-bottom: 1px solid #C2C2C2;
    background-color: #ffffff30;
}

tbody tr:hover {
    background-color: #ffffff60;
}

p2:hover {
    color: #0b0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #060606;
}